body {
    background-image: url("/Final_Project/Resources/backgrounds/vicky-ng-yIh0i6TYGrs-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 112px;
}

@font-face {
    font-family: 'Gloria Hallelujah';
    src: url(/Final_Project/Font-Family/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf);
}

#hero {
    /* background: black; */
    opacity: 100%;
    height: 20em;
}

h1 {
    color: #2D1115;
    font-family: Gloria Hallelujah;
    text-align: center;
    padding-top: 3.5rem;
}
.navbar-nav {
    margin: 3;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.bg-custom-color {
    background: #dbd2e0;
}


/* ============ desktop view ============ */

/* ============ Allow NavBar DropDown menu to work on Hover ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/* .navbar .nav-item:hover .nav-link{   } */ /* This is temporary and can be removed if it does not affect the feature*/
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */